{
  "tailwindStylesheet": "./styles/globals.css",
  "plugins": ["prettier-plugin-tailwindcss"],
  "endOfLine": "crlf",
  "semi": true,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "es5",
  "printWidth": 100
}
